.divSdCmsBlog1 .divBlogPostList,
.divSdCmsBlog2 .divBlogPostList,
.divSdCmsBlog3 .divBlogPostList {
				background-color: #fafafa;
				margin-bottom: 30px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostByline,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostByline,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostByline {
				font-size: .8em;
				font-weight: 100;
				padding: 30px 30px 0 30px;
				letter-spacing: 1px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostByline span,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostByline span,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostByline span {
				font-style: italic
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide {
				padding: 0 10px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a {
				margin-right: 5px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child {
				padding-left: 0
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostHeadline,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostHeadline,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostHeadline {
				padding: 0 30px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3 {
				font-weight: 100
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a {
				text-decoration: none
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostSample,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostSample,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostSample {
				padding: 0 30px 30px 30px;
				font-weight: 200
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostIcons,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostIcons,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostIcons {
				padding: 0 30px 30px 30px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul {
				list-style: none;
				padding: 0;
				margin: 0
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostIcons li,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostIcons li,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostIcons li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 0 0;
				text-align: center
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostIcons a,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostIcons a,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostIcons a {
				display: inline-block;
				text-align: center;
				background-color: #333;
				padding: 10px 0 0 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				font-size: 1.1em;
				color: #fff!important;
				-moz-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover {
				background-color: #000
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostTags,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostTags,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostTags {
				padding: 0 30px 30px 30px;
				font-size: .9em
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro {
				font-weight: 600;
				margin-right: 20px
}

.divSdCmsBlog1 .divBlogPostList .divBlogPostContent .divBlogPostTags a,
.divSdCmsBlog2 .divBlogPostList .divBlogPostContent .divBlogPostTags a,
.divSdCmsBlog3 .divBlogPostList .divBlogPostContent .divBlogPostTags a {
				display: inline-block;
				white-space: nowrap;
				border: 1px solid #069;
				padding: 2px 5px;
				border-radius: 3px;
				text-decoration: none!important;
				margin: 3px
}

.divSdCmsBlog4 .divBlogPostList,
.divSdCmsBlog5 .divBlogPostList,
.divSdCmsBlog6 .divBlogPostList {
				background-color: #fafafa;
				margin-bottom: 30px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostImage,
.divSdCmsBlog5 .divBlogPostList .divBlogPostImage,
.divSdCmsBlog6 .divBlogPostList .divBlogPostImage {
				float: left;
				width: 50%
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent {
				float: left;
				display: block;
				width: 50%
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostByline,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostByline,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostByline {
				font-size: .75em;
				font-weight: 100;
				padding: 5px 15px 0 15px;
				letter-spacing: 1px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostByline span,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostByline span,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostByline span {
				font-style: italic
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide {
				padding: 0 10px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a {
				margin-right: 5px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child {
				padding-left: 0
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostHeadline,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostHeadline,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostHeadline {
				padding: 5px 15px 0 15px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3 {
				font-weight: 100;
				font-size: 1.2em;
				margin: 0 0 10px 0;
				padding: 0
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a {
				text-decoration: none
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostSample,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostSample,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostSample {
				padding: 0 15px 15px 15px;
				font-weight: 100;
				font-size: .9em
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostIcons,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostIcons,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostIcons {
				padding: 0 15px 20px 15px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul {
				list-style: none;
				padding: 0;
				margin: 0
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostIcons li,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostIcons li,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostIcons li {
				display: inline-block;
				padding: 0;
				margin: 0 5px 0 0;
				text-align: center
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostIcons a,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostIcons a,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostIcons a {
				display: inline-block;
				text-align: center;
				background-color: #333;
				padding: 1px 0 0 0;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				font-size: .9em;
				color: #fff!important;
				-moz-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover {
				background-color: #000
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostTags,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostTags,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostTags {
				padding: 0 15px 10px 15px;
				font-size: .8em
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro {
				font-weight: 600;
				margin-right: 20px
}

.divSdCmsBlog4 .divBlogPostList .divBlogPostContent .divBlogPostTags a,
.divSdCmsBlog5 .divBlogPostList .divBlogPostContent .divBlogPostTags a,
.divSdCmsBlog6 .divBlogPostList .divBlogPostContent .divBlogPostTags a {
				display: inline-block;
				white-space: nowrap;
				border: 1px solid #069;
				padding: 1px 3px;
				border-radius: 3px;
				text-decoration: none!important;
				margin: 3px
}

.divSdCmsBlog7 {
				margin-left: auto;
				margin-right: auto
}

.divSdCmsBlog7 .divBlogPostList {
				background-color: #fafafa;
				margin: 0 10px 30px 10px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostContent {
				padding: 0 15px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostContent .divBlogPostByline {
				font-size: .75em;
				font-weight: 100;
				letter-spacing: 1px;
				padding-bottom: 10px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostContent .divBlogPostByline span {
				padding: 0 10px;
				font-style: italic
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostContent span:first-child {
				padding-left: 0
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostHeadline h3 {
				font-weight: 100;
				font-size: 1.2em
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostHeadline a {
				text-decoration: none
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostHeadline a:hover {
				text-decoration: underline;
				color: #046
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostSample {
				padding-bottom: 20px;
				font-weight: 200;
				font-size: .8em
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostIcons {
				padding-bottom: 20px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostIcons ul {
				list-style: none;
				padding: 0;
				margin: 0
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostIcons li {
				display: inline-block;
				padding: 0;
				margin: 0 5px 0 0;
				text-align: center
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostIcons a {
				display: inline-block;
				text-align: center;
				background-color: #333;
				padding: 1px 0 0 0;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				font-size: .9em;
				color: #fff!important;
				-moz-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostIcons a:hover {
				background-color: #000
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostCategories {
				padding-bottom: 10px;
				font-size: .85em
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostCategories a {
				margin-right: 10px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostTags {
				padding-bottom: 10px;
				font-size: .85em
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostTags .spnBlogPostTagIntro {
				font-weight: 600;
				margin-right: 20px
}

.divSdCmsBlog7 .divBlogPostList .divBlogPostTags a {
				margin-right: 5px
}

.divSdCmsBlog8 {
				margin-left: 30px;
				padding-left: 30px;
				border-left: 4px solid #1a1a1a
}

.divSdCmsBlog8 .divBlogPostImage:before {
				float: left;
				left: -51px;
				top: 33px
}

.divSdCmsBlog8 .divBlogPostList:after {
				border-width: 15px 20px 15px 0;
				left: -20px;
				top: 18px
}

.divSdCmsBlog8 .divBlogPostList:before {
				border-width: 15px 20px 15px 0;
				left: -21px;
				top: 18px
}

.divSdCmsBlog9 {
				margin-right: 30px;
				padding-right: 30px;
				border-right: 4px solid #1a1a1a
}

.divSdCmsBlog9 .divBlogPostImage:before {
				float: right;
				left: 51px;
				top: 33px
}

.divSdCmsBlog9 .divBlogPostList:after {
				border-width: 15px 0 15px 20px;
				right: -20px;
				top: 18px
}

.divSdCmsBlog9 .divBlogPostList:before {
				border-width: 15px 0 15px 20px;
				right: -21px;
				top: 18px
}

.divSdCmsBlog8 .divBlogPostList:after,
.divSdCmsBlog9 .divBlogPostList:after {
				content: '';
				position: absolute;
				border-style: solid;
				border-color: transparent #fff;
				display: block;
				width: 0;
				z-index: 1
}

.divSdCmsBlog8 .divBlogPostList:before,
.divSdCmsBlog9 .divBlogPostList:before {
				content: '';
				position: absolute;
				border-style: solid;
				border-color: transparent #e6e6e6;
				display: block;
				width: 0;
				z-index: 0
}

.divSdCmsBlog8 .divBlogPostList,
.divSdCmsBlog9 .divBlogPostList {
				margin-bottom: 30px;
				position: relative;
				padding: 10px;
				background: #fff;
				border: 1px solid #1a1a1a
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostImage,
.divSdCmsBlog9 .divBlogPostList .divBlogPostImage {
				position: relative;
				top: -20px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostImage:before,
.divSdCmsBlog9 .divBlogPostList .divBlogPostImage:before {
				position: relative;
				font-family: FontAwesome;
				content: "";
				color: #000
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent {
				padding: 0 15px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostByline,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostByline {
				font-size: .8em;
				font-weight: 100;
				padding-bottom: 10px;
				letter-spacing: 1px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostByline span,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostByline span {
				font-style: italic
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostByline span.spnDivide {
				padding: 0 10px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostByline .spnBlogCategory a {
				margin-right: 5px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostByline span:first-child {
				padding-left: 0
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostHeadline h3 {
				font-weight: 100
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostHeadline a {
				text-decoration: none
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostSample,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostSample {
				padding-bottom: 30px;
				font-weight: 200
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostIcons,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostIcons {
				padding-bottom: 30px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostIcons ul {
				list-style: none;
				padding: 0;
				margin: 0
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostIcons li,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostIcons li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 0 0;
				text-align: center
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostIcons a,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostIcons a {
				display: inline-block;
				text-align: center;
				background-color: #333;
				padding: 10px 0 0 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				font-size: 1.1em;
				color: #fff!important;
				-moz-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostIcons a:hover {
				background-color: #000
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostTags,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostTags {
				padding-bottom: 20px;
				font-size: .9em
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostTags .spnBlogPostTagIntro {
				font-weight: 600;
				margin-right: 20px
}

.divSdCmsBlog8 .divBlogPostList .divBlogPostContent .divBlogPostTags a,
.divSdCmsBlog9 .divBlogPostList .divBlogPostContent .divBlogPostTags a {
				display: inline-block;
				white-space: nowrap;
				border: 1px solid #069;
				padding: 2px 5px;
				border-radius: 3px;
				text-decoration: none!important;
				margin: 3px
}

.divSdCmsBlog .divBlogLatest {
				margin-bottom: 30px
}

.divSdCmsBlog .divBlogLatest h3 {
				font-weight: 100;
				border-left: 4px solid #d87d31;
				padding: 5px 0 5px 10px;
				margin-top: 0;
				background-color: #f2f2f2
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px dotted #ccc
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem .divBlogPostHeadline h4 {
				font-size: 1.1em;
				font-weight: 100;
				margin-bottom: 5px
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem .divBlogPostByline {
				font-size: .75em;
				line-height: 1.2em
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem .divBlogPostSample {
				font-size: .75em;
				line-height: 1.1em
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem .divBlogPostSample span {
				padding: 0 10px;
				font-style: italic
}

.divSdCmsBlog .divBlogLatest .divBlogLatestItem .divBlogPostSample span:first-child {
				padding-left: 0
}

.divSdCmsBlog .divBlogCategories {
				margin-bottom: 30px
}

.divSdCmsBlog .divBlogCategories h3 {
				font-weight: 100;
				border-left: 4px solid #d87d31;
				padding: 5px 0 5px 10px;
				margin-top: 0;
				background-color: #f2f2f2
}

.divSdCmsBlog .divBlogCategories ul {
				margin: 0 0 0 15px;
				padding: 0
}

.divSdCmsBlog .divBlogCategories ul li {
				list-style-type: none
}

.divSdCmsBlog .divBlogCategories ul li span {
				margin-right: 10px
}

.divSdCmsBlog .divBlogTagList {
				margin-bottom: 30px;
				font-size: .85em
}

.divSdCmsBlog .divBlogTagList h3 {
				font-weight: 100;
				border-left: 4px solid #d87d31;
				padding: 5px 0 5px 10px;
				margin-top: 0;
				background-color: #f2f2f2
}

.divSdCmsBlog .divBlogTagList ul {
				padding: 0;
				margin: 0;
				list-style: none
}

.divSdCmsBlog .divBlogTagList ul li {
				padding: 0;
				margin: 0 5px 10px 0;
				display: inline-block
}

.divSdCmsBlog .divBlogTagList ul li a {
				border: 1px solid #069;
				padding: 2px 5px;
				border-radius: 3px;
				text-decoration: none!important
}

.divSdCmsBlog .divBlogPhotostream {
				margin-bottom: 30px
}

.divSdCmsBlog .divBlogPhotostream h3 {
				font-weight: 100;
				border-left: 4px solid #d87d31;
				padding: 5px 0 5px 10px;
				margin-top: 0;
				background-color: #f2f2f2
}

.divSdCmsBlog .divBlogPhotostream .divBlogPhotostreamTileWrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between
}

.divSdCmsBlog .divBlogPhotostream .divBlogPhotostreamTileWrap .divBlogPhotostreamTile {
				margin-bottom: 2%;
				width: 31%
}

.divSdCmsBlog .divBlogArchive {
				margin-bottom: 30px
}

.divSdCmsBlog .divBlogArchive h3 {
				font-weight: 100;
				border-left: 4px solid #d87d31;
				padding: 5px 0 5px 10px;
				margin-top: 0;
				background-color: #f2f2f2
}

.divSdCmsBlog .divBlogArchive ul {
				padding: 0;
				margin: 0;
				list-style: none
}

.divSdCmsBlog .divBlogArchive ul li {
				padding: 0 0 5px 0;
				margin: 0 5px 10px 0;
				display: inline-block
}

.divSdCmsBlog .divBlogArchive ul li ul li {
				padding: 2px 5px;
				border: 1px solid #ccc;
				border-radius: 3px;
				width: 14.285714286%;
				font-size: .8em;
				text-align: center
}

.divSdCmsBlog .divBlogArchive ul li ul li.active {
				border-color: #069
}

.divSdCmsBlog .divBlogDetail {
				background-color: #fafafa;
				margin-bottom: 30px
}

.divSdCmsBlog .divBlogDetail a.anchor {
				display: block;
				position: relative;
				top: -50px;
				visibility: hidden
}

.divSdCmsBlog .divBlogDetail .divBlogDetailByline {
				font-size: .8em;
				font-weight: 100;
				padding: 30px 30px 0 30px;
				letter-spacing: 1px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailByline span {
				padding: 0 10px;
				font-style: italic
}

.divSdCmsBlog .divBlogDetail .divBlogDetailByline span:first-child {
				padding-left: 0
}

.divSdCmsBlog .divBlogDetail .divBlogDetailByline span.spnDivide {
				padding: 0 10px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailHeadline {
				padding: 0 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailHeadline h3 {
				font-weight: 100
}

.divSdCmsBlog .divBlogDetail .divBlogDetailHeadline a {
				text-decoration: none
}

.divSdCmsBlog .divBlogDetail .divBlogDetailBody {
				padding: 0 30px 30px 30px;
				font-weight: 200
}

.divSdCmsBlog .divBlogDetail .divBlogDetailIcons {
				padding: 0 30px 30px 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailIcons ul {
				list-style: none;
				padding: 0;
				margin: 0
}

.divSdCmsBlog .divBlogDetail .divBlogDetailIcons li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 0 0;
				text-align: center
}

.divSdCmsBlog .divBlogDetail .divBlogDetailIcons a {
				display: inline-block;
				text-align: center;
				background-color: #333;
				padding: 10px 0 0 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				font-size: 1.1em;
				color: #fff!important;
				-moz-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in
}

.divSdCmsBlog .divBlogDetail .divBlogDetailIcons a:hover {
				background-color: #000
}

.divSdCmsBlog .divBlogDetail .divBlogDetailGallery {
				padding-bottom: 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailVideo {
				padding-bottom: 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailVideo .divVideoCaption {
				padding: 5px 10px 15px 10px;
				font-size: .9em;
				font-style: italic;
				color: #069
}

.divSdCmsBlog .divBlogDetail .divBlogDetailTags {
				padding: 0 30px 30px 30px;
				font-size: .9em
}

.divSdCmsBlog .divBlogDetail .divBlogDetailTags .spnBlogDetailTagIntro {
				font-weight: 600;
				margin-right: 20px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailTags a {
				border: 1px solid #069;
				padding: 2px 5px;
				border-radius: 3px;
				text-decoration: none!important;
				margin: 3px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailShareRate {
				padding: 0 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailShareRate .divBlogDetailShare {
				padding-bottom: 30px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailShareRate .divBlogDetailRate {
				padding-bottom: 30px;
				font-size: 1.4em;
				padding-top: 3px
}

.divSdCmsBlog .divBlogDetail .divBlogDetailShareRate .divBlogDetailRate .glyphicon {
				cursor: pointer;
				margin-right: 3px
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList {
				padding: 0 30px 0 30px;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList h3 {
				padding-bottom: 20px
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px dashed #d9d9d9
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment .divBlogCommentByline {
				margin-bottom: 10px
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment .divBlogCommentByline .divBlogCommentBylineContact {
				font-weight: 400
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment .divBlogCommentByline .divBlogCommentBylineDate {
				font-style: italic
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment .divBlogCommentBody {
				font-size: .9em
}

.divSdCmsBlog .divBlogDetail .divBlogCommentList .divBlogComment:last-child {
				border-bottom: none
}

.divSdCmsBlog .divBlogCommentForm {
				padding: 0 30px 30px 30px
}

.divSdCmsBlog .divBlogCommentForm #pnlCommentComplete {
				padding: 70px 30% 0 30px;
				height: 200px;
				display: none
}